* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "RobotoCondensedRegular", sans-serif;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 100vh;
  background: url(img/neon-sign.jpg);
  background-size: cover;
  background-position: center;
}

.img-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px;
}

.img-and-title img {
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
}

.img-and-title h1 {
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  gap: 5px;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

main {
  flex-shrink: 1;
  width: 70%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
  gap: 20px;
  text-align: start;
  padding: 70px;
}

.intro h2 {
  font-size: 2rem;
}

.intro p {
  font-size: 1.2rem;
}

#form-section {
  width: 100%;
}

.form-container {
  background-color: #d3d3d3;
}

#form-section label {
  display: block;
}

#form-section input {
  display: block;
}

.first-and-last-name {
  display: flex;
  justify-content: space-around;
}

.email-and-username {
  display: flex;
  justify-content: space-around;
}

.password {
  display: flex;
  justify-content: space-around;
}
